doctype html 
html
    head
        meta(charset='utf-8')
        title TestRunner
    body
        div
            h1 Test-runner Analytics 
            h2 Log in with Github 
        form(action="") 
            button(type="submit") Log-in