doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title repos
    body
        div <!--Aquí se hace el formato de la tabla de repos-->
            h2 Repositorie 
            a(href="")  All 
            a(href="")  Public
            a(href="")  Private
            a(href="")  Sources
            a(href="")  Forks
            br
            br
            form(action="") 
                input(type="text" placeholder="Repositorie")
                br
                br
                button(type="reset") Reset Filters

